<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block head %}
    {{ super() }}
{% endblock %}

<body>

    <!-- navbar -->
    {% block navbar %}
        {{ super() }}
    {% endblock %}
    <!-- end navbar -->

    <!-- sidebar -->
    {% block sidebar %}
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <!--<li>-->
                <!--<a href="chart-showcase.html">-->
                    <!--<i class="icon-signal"></i>-->
                    <!--<span>Charts</span>-->
                <!--</a>-->
            <!--</li>-->
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large" ></i>
                    <span>我的应用</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" style="display: block;">
                    <li><a href="/app/list">查看应用</a></li>
                    <li><a href="/app/create">创建应用</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>开发者</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/user/edit">完善资料</a></li>
                    <li><a href="/user/modify">修改密码</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>其它</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="signin.html">登 陆</a></li>
                    <li><a href="signup.html">注 册</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% endblock %}
    <!-- end sidebar -->
    
    {% block container %}
	<!-- main container -->
    <div class="content">
        
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="/static/css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>应用列表</h3>
                    <div class="span10 pull-right">
                        <input type="text" class="span5 search" placeholder="输入应用名..." />
                        
                        <!-- custom popup filter -->
                        <!-- styles are located in /static/css/elements.css -->
                        <!-- script that enables this dropdown is located in /static/js/theme.js -->
                        <div class="ui-dropdown">
                            <div class="head" data-toggle="tooltip" title="Click me!">
                                筛选应用
                                <i class="arrow-down"></i>
                            </div>  
                            <div class="dialog">
                                <div class="pointer">
                                    <div class="arrow"></div>
                                    <div class="arrow_border"></div>
                                </div>
                                <div class="body">
                                    <p class="title">
                                        Show users where:
                                    </p>
                                    <div class="form">
                                        <select>
                                            <option />Name
                                            <option />Email
                                            <option />Number of orders
                                            <option />Signed up
                                            <option />Last seen
                                        </select>
                                        <select>
                                            <option />is equal to
                                            <option />is not equal to
                                            <option />is greater than
                                            <option />starts with
                                            <option />contains
                                        </select>
                                        <input type="text" />
                                        <a class="btn-flat small" >添加筛选</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="/app/create" class="btn-flat success pull-right">
                            <span>&#43;</span>
                            添加应用
                        </a>
                    </div>
                </div>

                <!-- Users table -->
                <div class="row-fluid table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span4 sortable">
                                    应用编号
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>应用名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>应用状态
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>App Key
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>使用场景类型
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>创建日期
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        {% for app in apps %}
                        <tr class="first">
                            <td>
                                <!--<img src="/static/img/contact-img.png" class="img-circle avatar hidden-phone" />-->
                                <!--<a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>-->
                                <span class="subtext">{{ app.id }}</span>
                            </td>
                            <td>
                                {{ app.app_name }}
                            </td>
                            <td>
                                {{ app.status }}
                            </td>
                            <td>
                                {{ 123 }}
                            </td>
                            <td>
                                {{ 123 }}
                            </td>
                            <td>
                                {{ app.create_time }}
                            </td>
                            <td>
                                <i class="icon-cog"></i>
                                 编辑
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if pageNum > 0 %}
                <div class="pagination pull-right">
                    <ul>
                        <li>
                        {% if not pagination.has_prev %}
                            <a href="#">&#8249;</a>
                        {% else %}
                            <a href="/app/list?page={{ pagination.page-1 }}">&#8249;</a>
                        {% endif %}
                        </li>
                        {% for i in range(pageNum) %}
                        <li><a class="active" href="/app/list?page={{ i+1 }}">{{ i+1 }}</a></li>
                        {% endfor %}
                        <li>
                            {% if not pagination.has_next %}
                            <a href="#">&#8250;</a>
                        {% else %}
                            <a href="/app/list?page={{ pagination.page+1 }}">&#8250;</a>
                        {% endif %}

                        </li>
                    </ul>
                </div>
                {% endif %}
                <!-- end users table -->
            </div>
        </div>
    </div>
    <!-- end main container -->
     {% endblock %}

    {% block scripts %}
	<!-- scripts -->
        {{ super() }}
    {% endblock %}

</body>
</html>