<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block head %}
    {{ super() }}
{% endblock %}

<body>

    <!-- navbar -->
    {% block navbar %}
        {{ super() }}
    {% endblock %}
    <!-- end navbar -->

    <!-- sidebar -->
    {% block sidebar %}
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <!--<li>-->
                <!--<a href="chart-showcase.html">-->
                    <!--<i class="icon-signal"></i>-->
                    <!--<span>Charts</span>-->
                <!--</a>-->
            <!--</li>-->
            <li class="active">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large" ></i>
                    <span>我的应用</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" style="display: block;">
                    <li><a href="/app/list">查看应用</a></li>
                    <li><a href="/app/create">创建应用</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>开发者</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/user/edit">完善资料</a></li>
                    <li><a href="/user/modify">修改密码</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>其它</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="signin.html">登 陆</a></li>
                    <li><a href="signup.html">注 册</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% endblock %}
    <!-- end sidebar -->

    {% block container %}
    	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
                <!-- avatar column -->
                <div class="span3 avatar-box">
                    <div class="personal-image">
                        <img src="/static/img/personal-info.png" class="avatar img-circle" />
                        <p>上传头像...</p>

                        <input type="file" />
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">
                    <div class="alert alert-info">
                        <i class="icon-lightbulb"></i>
                        This page shows an example of an alternative layout with the main navbar on the top
                        <br /> using <strong>.content.wide-content</strong> for this main container
                    </div>
                    <h5 class="personal-title">基本信息</h5>

                    <form />
                        <div class="field-box">
                            <label>昵称:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.nickname }}" />
                        </div>
                        <div class="field-box">
                            <label>邮箱:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.email }}" />
                        </div>
                        <div class="field-box">
                            <label>公司:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.nickname }}" />
                        </div>
                        <div class="field-box">
                            <label>学校:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.school }}" />
                        </div>
                        <div class="field-box">
                            <label>性别:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.sex }}" />
                        </div>
                        <div class="field-box">
                            <label>电话:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.phone }}" />
                        </div>
                        <div class="field-box">
                            <label>QQ:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.qq }}" />
                        </div>
                        <div class="field-box">
                            <label>微博:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.weibo }}" />
                        </div>
                        <div class="field-box">
                            <label>Github:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.github }}" />
                        </div>
                        <div class="field-box">
                            <label>自我介绍:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.info }}" />
                        </div>
                        <div class="field-box">
                            <label>兴趣爱好:</label>
                            <input class="span5 inline-input" type="text" value="{{ developer.hobby }}" />
                        </div>
                        <div class="span6 field-box actions">
                            <input type="button" class="btn-glow success" value="保存修改" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->




    {% endblock %}

    {% block scripts %}
	<!-- scripts -->
        {{ super() }}
    {% endblock %}

</body>
</html>