<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block head %}
<head>
	<title>Detail Admin - New User Form</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/static/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/new-user.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
{% endblock %}
<body>

    <!-- navbar -->
    {% block navbar %}
        {{ super() }}
    {% endblock %}
    <!-- end navbar -->

    {% block sidebar %}
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <!--<li>-->
                <!--<a href="chart-showcase.html">-->
                    <!--<i class="icon-signal"></i>-->
                    <!--<span>Charts</span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large"></i>
                    <span>我的应用</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/app/list">查看应用</a></li>
                    <li><a href="/app/create">创建应用</a></li>
                </ul>
            </li>
            <li class='active'>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>开发者</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" style="display: block;">
                    <li><a href="/user/edit">完善资料</a></li>
                    <li><a href="/user/modify">修改密码</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>其它</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="signin.html">登 陆</a></li>
                    <li><a href="signup.html">注 册</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    {% endblock %}

    {% block container %}
	<!-- main container -->
    <div class="content">
        
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="/static/css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
                <div class="row-fluid header">
                    <h3>修改密码</h3>
                </div>

                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span9 with-sidebar">
                        <div class="container">
                            <form class="new_user_form inline-input" />
                                <div class="span12 field-box">
                                    <label>原密码:</label>
                                    <input class="span9" type="password" />
                                </div>
                                <div class="span12 field-box">
                                    <label>新密码:</label>
                                    <input class="span9" type="password" />
                                </div>
                                <div class="span12 field-box">
                                    <label>确认新密码:</label>
                                    <input class="span9" type="password" />
                                </div>
                                <div class="span11 field-box actions">
                                    <input type="button" class="btn-glow success" value="修改密码" />
                                    <span>OR</span>
                                    <input type="reset" value="取 消" class="reset" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--&lt;!&ndash; side right column &ndash;&gt;-->
                    <!--<div class="span3 form-sidebar pull-right">-->
                        <!--<div class="btn-group toggle-inputs hidden-tablet">-->
                            <!--<button class="glow left active" data-input="inline">INLINE INPUTS</button>-->
                            <!--<button class="glow right" data-input="normal">NORMAL INPUTS</button>-->
                        <!--</div>-->
                        <!--<div class="alert alert-info hidden-tablet">-->
                            <!--<i class="icon-lightbulb pull-left"></i>-->
                            <!--Click above to see difference between inline and normal inputs on a form-->
                        <!--</div>                        -->
                        <!--<h6>Sidebar text for instructions</h6>-->
                        <!--<p>Add multiple users at once</p>-->
                        <!--<p>Choose one of the following file types:</p>-->
                        <!--<ul>-->
                            <!--<li><a href="#">Upload a vCard file</a></li>-->
                            <!--<li><a href="#">Import from a CSV file</a></li>-->
                            <!--<li><a href="#">Import from an Excel file</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->
    {% endblock %}

    {% block scripts %}
	<!-- scripts -->
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>

    <script type="text/javascript">
        $(function () {

            // toggle form between inline and normal inputs
            var $buttons = $(".toggle-inputs button");
            var $form = $("form.new_user_form");

            $buttons.click(function () {
                var mode = $(this).data("input");
                $buttons.removeClass("active");
                $(this).addClass("active");

                if (mode === "inline") {
                    $form.addClass("inline-input");
                } else {
                    $form.removeClass("inline-input");
                }
            });
        });
    </script>
    {% endblock %}
</body>
</html>